@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto.eot");
  src: url("../fonts/Roboto/Roboto.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto.woff2") format("woff2"), url("../fonts/Roboto/Roboto.woff") format("woff"), url("../fonts/Roboto/Roboto.ttf") format("truetype"), url("../fonts/Roboto/Roboto.svg#icon") format("svg");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto Light.eot");
  src: url("../fonts/Roboto/Roboto Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto Light.woff2") format("woff2"), url("../fonts/Roboto/Roboto Light.woff") format("woff"), url("../fonts/Roboto/Roboto Light.ttf") format("truetype"), url("../fonts/Roboto/Roboto Light.svg#icon") format("svg");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto Light Italic.eot");
  src: url("../fonts/Roboto/Roboto Light Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto Light Italic.woff2") format("woff2"), url("../fonts/Roboto/Roboto Light Italic.woff") format("woff"), url("../fonts/Roboto/Roboto Light Italic.ttf") format("truetype"), url("../fonts/Roboto/Roboto Light Italic.svg#icon") format("svg");
  font-style: italic;
  font-weight: 300; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto Thin.eot");
  src: url("../fonts/Roboto/Roboto Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto Thin.woff2") format("woff2"), url("../fonts/Roboto/Roboto Thin.woff") format("woff"), url("../fonts/Roboto/Roboto Thin.ttf") format("truetype"), url("../fonts/Roboto/Roboto Thin.svg#icon") format("svg");
  font-style: normal;
  font-weight: 100; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto Thin Italic.eot");
  src: url("../fonts/Roboto/Roboto Thin Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto Thin Italic.woff2") format("woff2"), url("../fonts/Roboto/Roboto Thin Italic.woff") format("woff"), url("../fonts/Roboto/Roboto Thin Italic.ttf") format("truetype"), url("../fonts/Roboto/Roboto Thin Italic.svg#icon") format("svg");
  font-style: italic;
  font-weight: 100; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto Italic.eot");
  src: url("../fonts/Roboto/Roboto Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto Italic.woff2") format("woff2"), url("../fonts/Roboto/Roboto Italic.woff") format("woff"), url("../fonts/Roboto/Roboto Italic.ttf") format("truetype"), url("../fonts/Roboto/Roboto Italic.svg#icon") format("svg");
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto Medium.eot");
  src: url("../fonts/Roboto/Roboto Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto Medium.woff2") format("woff2"), url("../fonts/Roboto/Roboto Medium.woff") format("woff"), url("../fonts/Roboto/Roboto Medium.ttf") format("truetype"), url("../fonts/Roboto/Roboto Medium.svg#icon") format("svg");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto Bold.eot");
  src: url("../fonts/Roboto/Roboto Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto Bold.woff2") format("woff2"), url("../fonts/Roboto/Roboto Bold.woff") format("woff"), url("../fonts/Roboto/Roboto Bold.ttf") format("truetype"), url("../fonts/Roboto/Roboto Bold.svg#icon") format("svg");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "Oxygen Mono";
  src: url("../fonts/oxygen/oxygenmono-regular.eot");
  src: url("../fonts/oxygen/oxygenmono-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/oxygen/oxygenmono-regular.woff2") format("woff2"), url("../fonts/oxygen/oxygenmono-regular.woff") format("woff"), url("../fonts/oxygen/oxygenmono-regular.ttf") format("truetype"), url("../fonts/oxygen/oxygenmono-regular.svg#icon") format("svg");
  font-style: normal;
  font-weight: 400; }

*,
html,
body {
  font-family: 'Roboto', sans-serif;
  border: 0;
  margin: 0;
  padding: 0; }

body {
  background-color: #757575; }

.app-header h1 {
  padding: .5em 0 .75em .5em;
  color: #f5f5f5;
  background-color: #212121;
  font-size: 2em; }

.app-section {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  height: 80vh;
  overflow: hidden; }
  .app-section::after {
    clear: both; }

.input-elem {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  font-family: 'Oxygen Mono', monospace;
  display: block;
  font-size: .75em;
  width: 40%;
  float: left;
  height: 100%;
  overflow: auto;
  outline: none;
  padding: .5em;
  resize: none;
  background-color: #eee; }

.output-elem {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  background-color: #f5f5f5;
  color: #212121;
  display: block;
  padding: .5em;
  width: 60%;
  float: right;
  height: 100%;
  overflow: auto; }
  .output-elem h1 {
    box-sizing: border-box;
    display: block;
    position: relative;
    padding-left: 1.7em;
    background-color: #eee;
    margin-bottom: .2em;
    font-weight: 400;
    font-size: 2.2em; }
    .output-elem h1::before {
      box-sizing: border-box;
      display: block;
      padding: .1em;
      background-color: #bdbdbd;
      color: #fafafa;
      content: '\210B';
      font-weight: 300;
      font-size: .9em;
      text-align: left;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 1.5em; }
  .output-elem h2 {
    box-sizing: border-box;
    display: block;
    position: relative;
    padding-left: 1.7em;
    background-color: #eee;
    margin-bottom: .2em;
    font-weight: 400;
    font-size: 1.9em; }
    .output-elem h2::before {
      box-sizing: border-box;
      display: block;
      padding: .1em;
      background-color: #bdbdbd;
      color: #fafafa;
      content: '\210B';
      font-weight: 300;
      font-size: .9em;
      text-align: left;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 1.5em; }
  .output-elem h3 {
    box-sizing: border-box;
    display: block;
    position: relative;
    padding-left: 1.6em;
    background-color: #eee;
    margin-bottom: .2em;
    font-weight: 400;
    font-size: 1.7em; }
    .output-elem h3::before {
      box-sizing: border-box;
      display: block;
      padding: .1em;
      background-color: #bdbdbd;
      color: #fafafa;
      content: '\210B';
      font-weight: 300;
      font-size: .9em;
      text-align: left;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 1.4em; }
  .output-elem h4 {
    box-sizing: border-box;
    display: block;
    position: relative;
    padding-left: 1.6em;
    background-color: #eee;
    margin-bottom: .2em;
    font-weight: 400;
    font-size: 1.5em; }
    .output-elem h4::before {
      box-sizing: border-box;
      display: block;
      padding: .1em;
      background-color: #bdbdbd;
      color: #fafafa;
      content: '\210B';
      font-weight: 300;
      font-size: .9em;
      text-align: left;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 1.4em; }
  .output-elem h5 {
    box-sizing: border-box;
    display: block;
    position: relative;
    padding-left: 1.6em;
    background-color: #eee;
    margin-bottom: .2em;
    font-weight: 400;
    font-size: 1.2em; }
    .output-elem h5::before {
      box-sizing: border-box;
      display: block;
      padding: .1em;
      background-color: #bdbdbd;
      color: #fafafa;
      content: '\210B';
      font-weight: 300;
      font-size: .9em;
      text-align: left;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 1.4em; }
  .output-elem h6 {
    box-sizing: border-box;
    display: block;
    position: relative;
    padding-left: 1.6em;
    background-color: #eee;
    margin-bottom: .2em;
    font-weight: 400;
    font-size: .95em; }
    .output-elem h6::before {
      box-sizing: border-box;
      display: block;
      padding: .1em;
      background-color: #bdbdbd;
      color: #fafafa;
      content: '\210B';
      font-weight: 300;
      font-size: .9em;
      text-align: left;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 1.4em; }
  .output-elem ul {
    display: block;
    margin: 1em .5em 1em 0;
    background-color: #e0e0e0; }
    .output-elem ul li {
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding: .6em 0 .6em 2em;
      background-color: #e0e0e0;
      position: relative;
      font-size: .95em; }
      .output-elem ul li::before {
        display: inline-block;
        text-align: center;
        top: 17.5%;
        width: 2em;
        content: '\2740';
        color: #424242;
        position: absolute;
        left: 0; }
  .output-elem a {
    background-color: #757575;
    font-weight: 300;
    color: #fafafa;
    text-decoration: underline;
    position: relative;
    padding: .2em .2em .2em 25px;
    display: inline-block; }
    .output-elem a::before {
      height: 100%;
      display: inline-block;
      position: absolute;
      font-size: 15px;
      width: 25px;
      top: 2px;
      left: 0;
      text-align: center;
      color: #424242;
      content: '\01f517'; }
  .output-elem .underline {
    display: inline-block;
    color: #212121;
    border-bottom: 2px #212121 solid; }
  .output-elem pre {
    font-family: 'Oxygen Mono', monospace;
    background-color: #e0e0e0;
    color: #212121;
    font-size: .85em;
    text-align: left;
    padding: 2.8em .3em .3em;
    margin: .5em 0;
    border-bottom: 5px #212121 solid;
    position: relative; }
    .output-elem pre::before {
      box-sizing: border-box;
      display: block;
      background-color: #212121;
      position: absolute;
      padding: .5em 0 0 .3em;
      top: 0;
      left: 0;
      right: 0;
      height: 2.5em;
      content: '\25a7';
      color: #fafafa; }
  .output-elem blockquote {
    box-sizing: border-box;
    display: block;
    text-align: center;
    margin: .5em 0;
    padding: .7em;
    background-color: #212121;
    color: #fafafa;
    font-weight: 100;
    font-style: italic; }
    .output-elem blockquote::before {
      box-sizing: border-box;
      display: block;
      text-align: left;
      font-size: 2em;
      content: '\201C'; }
    .output-elem blockquote::after {
      box-sizing: border-box;
      display: block;
      text-align: right;
      font-size: 2em;
      content: '\201E'; }
    .output-elem blockquote q {
      background-color: #212121;
      color: #fafafa; }
      .output-elem blockquote q::after, .output-elem blockquote q::before {
        display: none; }
