@import 'variables';
@import 'mixins';
@import 'utils/fonts';

@include custom-font-mixin('Roboto', 'Roboto', 400, normal, $path-roboto);
@include custom-font-mixin('Roboto', 'Roboto Italic', 400, italic, $path-roboto);
@include custom-font-mixin('Roboto', 'Roboto Medium', 500, normal, $path-roboto);
@include custom-font-mixin('Roboto', 'Roboto Bold', 700, normal, $path-roboto);

@mixin roboto {
  font-family: 'Roboto', 'Consolas', sans-serif;
}

*,
html,
body {
  @include roboto;
  @include set-to-zero;
  color: $color-900;
  background-color: $color-700;
}
