@import 'variables';

@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin oxygen {
  font-family: 'Oxygen Mono', monospace;
}

@mixin set-to-zero {
  border: 0;
  margin: 0;
  padding: 0;
}

@mixin block-border-box {
  box-sizing: border-box;
  display: block;
}

@mixin before-elem($pad) {
  @include block-border-box;
  position: relative;
  padding-left: $pad + .2em;
  background-color: $color-200;
  margin-bottom: .25em;
  font-weight: 400;

  &::before {
    @include block-border-box;
    padding: .1em;
    background-color: $color-400;
    color: $color-50;
    content: '\210B';
    font-weight: 300;
    font-size: .9em;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: $pad;
  }
}
