@import 'variables';
@import 'mixins';
@import 'common';

.app-header {

  h1 {
    padding: .5em 0 .75em .5em;
    color: $color-100;
    background-color: $color-900;
    font-size: 2em;
  }

}

.app-section {
  @include set-to-zero;
  @include block-border-box;
  height: 80vh;
  overflow: hidden;

  &::after {
    clear: both;
  }
}

.input-elem {
  @include set-to-zero;
  @include block-border-box;
  @include oxygen;
  display: block;
  font-size: .75em;
  width: 40%;
  float: left;
  height: 100%;
  overflow: auto;
  outline: none;
  padding: .5em;
  resize: none;
  background-color: $color-200;
}

.output-elem {
  @include set-to-zero;
  @include block-border-box;
  background-color: $color-100;
  color: $color-900;
  display: block;
  padding: .5em;
  width: 60%;
  float: right;
  height: 100%;
  overflow: auto;

  h1 {
    @include before-elem(1.5em);
    font-size: 2.2em;
  }

  h2 {
    @include before-elem(1.5em);
    font-size: 1.9em;
  }

  h3 {
    @include before-elem(1.4em);
    font-size: 1.7em;
  }

  h4 {
    @include before-elem(1.4em);
    font-size: 1.5em;
  }

  h5 {
    @include before-elem(1.4em);
    font-size: 1.2em;
  }

  h6 {
    @include before-elem(1.4em);
    font-size: .95em;
  }

  ul {
    display: block;
    margin: 1em .5em 1em 0;
    background-color: $color-300;

    li {
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding: .6em 0 .6em 2em;
      background-color: $color-300;
      position: relative;
      font-size: .95em;

      &::before {
        display: inline-block;
        text-align: center;
        top: 17.5%;
        width: 2em;
        content: '\2740';
        color: $color-800;
        position: absolute;
        left: 0;
      }
    }
  }

  a {
    background-color: $color-600;
    font-weight: 300;
    color: $color-50;
    text-decoration: underline;
    position: relative;
    padding: .2em .2em .2em 25px;
    display: inline-block;

    &::before {
      height: 100%;
      display: inline-block;
      position: absolute;
      font-size: 15px;
      width: 25px;
      top: 2px;
      left: 0;
      text-align: center;
      color: $color-800;
      content: '\01f517';
    }
  }

  .underline {
    display: inline-block;
    color: $color-900;
    border-bottom: 2px $color-900 solid;
  }

  pre {
    @include oxygen;
    background-color: $color-300;
    color: $color-900;
    font-size: .85em;
    text-align: left;
    padding: 2.8em .3em .3em;
    margin: .5em 0;
    border-bottom: 5px $color-900 solid;
    position: relative;

    &::before {
      @include block-border-box;
      background-color: $color-900;
      position: absolute;
      padding: .5em 0 0 .3em;
      top: 0;
      left: 0;
      right: 0;
      height: 2.5em;
      content: '\25a7';
      color: $color-50;
    }
  }

  blockquote {
    @include block-border-box;
    text-align: center;
    margin: .5em 0;
    padding: .7em;
    background-color: $color-900;
    color: $color-50;
    font-weight: 100;
    font-style: italic;

    &::before {
      @include block-border-box;
      text-align: left;
      font-size: 2em;
      content: '\201C';
    }

    &::after {
      @include block-border-box;
      text-align: right;
      font-size: 2em;
      content: '\201E';
    }

    q {
      background-color: $color-900;
      color: $color-50;

      &::after,
      &::before {
        display: none;
      }
    }
  }

}
